#error404 {
  height: 70vh;
  text-align: center;
  .eye-catch-section {
    .temp404 {
      p {
        font-size: 100px;
        font-weight: 500;
      }
    }
  }
  .message-section {
    h1 {

    }
    a {
      display: block;
      margin: 20px 0;
    }

  }
}
