header#main_header {
  border-bottom: 1px groove rgba(68, 67, 67, 0.43);
  padding: 22px 0 15px;
  text-align: center;
  background: #fff;
  .header_container {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    .header_logo {
      h1.header_title {
        padding: 0;
        margin: 0;
        display: inline;
        color: black;
        font-family: cursive;
        font-weight: bold;
        font-style: italic;
      }

    }
    .hamburger {
      float: right;
    }
  }
}
