// 参考: http://www.nxworld.net/tips/10-css-hamburger-menu-icon-design-and-effect.html
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 32px;
  height: 35px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 5px;
}
.menu-trigger span:nth-of-type(2) {
  top: 15px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 6px;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

.menu_wrapper {
  background: rgba(0,0,0,0.93);
  height: 100%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  width: 100%;
  z-index: -1;
  .menu_inner {
    ul.menu_list {
      list-style: none;
      margin-left: 0;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 4px;
      text-transform: uppercase;

      display: inline-block;
      // font-family: "p22-underground";
      padding-top: 120px;
      li {
        border-bottom: 2px solid #fff;
        line-height: 34px;
        padding: 15px 87px 9px;
        -webkit-transition: opacity 0.2s ease 0s;
        transition: opacity 0.2s ease 0s;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.show_menu {
  opacity: 1;
  z-index: 9;
}
.menu_in {
  overflow-y: hidden;
}
