body {
  background-color: #f7f9f9!important;
}


.content_header {
  background-color: rgba(0,0,0,0.6);
  .content_header_inner {
    position: relative;
    width: 820px;
    height: 480px;
    margin: 0 auto;
    padding-top: 180px;
    h1 {
      font-size: 4rem;
      line-height: 1.6;
      text-align: center;
      span {
        display: inline-block;
        text-align: left;
        a {
          color: #fff;
        }
      }
    }
    ul {
      position: absolute;
      width: 100%;
      bottom: 40px;
      margin-top: 0;
      text-align: center;
      &::before {
        position: absolute;
        top: -40px;
        left: 50%;
        content: '';
        width: 120px;
        height: 1px;
        margin-left: -60px;
        background-color: #fff;
        li {
          color: #fff;
          font-size: 15px;
          &:first-child {
            margin: 0 40px 0 0;
          }
          a {
            color: #fff;
            font-size: 15px;
          }
        }
      }
    }
  }
  figure {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 580px;
    background: 0;
    background-color: rgba(0,0,0,.6);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    img {
      display: none;
      width: 100%;
    }
  }
}

.contents_wrapper {
  position: relative;
  z-index: 2;
  background-color: #fff;
  .contents {
    margin: 0 auto;
    padding: 35px 0 10px;
    width: 1050px;
    ul.article_list {
      margin: 0;
      padding: 0;
      li.article_box {
        list-style: none;
        float: left;
        width: 300px;
        margin-right: 30px;
        margin-bottom: 30px;
        position: relative;
        .img_overlay {
          position: absolute;
          z-index: 50;
          background: #d2d0d0;
          opacity: 0.15;
          width: 100%;
          height: 100%;
        }
        .img_box {
          position: relative;
          img {
            width: 300px;
            height: 230px;
            border-radius: 5px;
          }
        }
        .text_box {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 60;
          color: #fff;
          font-weight: bold;
          top: 0;
          left: 0;
          .text_area {
            position: absolute;
            left: 15px;
            bottom: 25px;
            padding: 0 15px 0 0;
          }
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
      }
    }
  }
}
